
<div id="FlexP">
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal1" [src]="imagen.imagen_1">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_1}}
        </div>
       <!-- <div class="card-action"> -->


      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal2" [src]="imagen.imagen_2">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_2}}
        </div>

      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal3" [src]="imagen.imagen_3">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_3}}
        </div>

      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal4" [src]="imagen.imagen_4">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_4}}
        </div>

      </div>
    </div>
  </div>
 </div>
</div>
<div id="FlexP2">
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal5" [src]="imagen.imagen_5">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_5}}
        </div>

      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal6" [src]="imagen.imagen_6">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_6}}
        </div>

      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal7" [src]="imagen.imagen_7">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_7}}
        </div>

      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img class="modal-trigger" href="#modal8" [src]="imagen.imagen_8">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_8}}
        </div>

      </div>
    </div>
  </div>
 </div>
</div>
<app-modal></app-modal>



  <div class="row">
    <div class="col s12 m6" *ngFor="let titulo of datos">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{titulo}}</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        </div>

    </div>
   </div>


