
<div id="FlexP">
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img id='0'[src]="imagen.imagen_1">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_1}}
        </div>
        <div class="card-action">
          <app-modal></app-modal>

        </div>


      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_2">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_2}}
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_3">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_3}}
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_4">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_4}}
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

<button id="boton-r" (click)="volver()">inicio</button>

