
<div id="FlexP">
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img id='0'[src]="imagen.imagen_1">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_1}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_2">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_2}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_3">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_3}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_4">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_4}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal4">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<div id="FlexP2">
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_5">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_5}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_5">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_5}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_5">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_5}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div id="cardJ">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-image">
          <img [src]="imagen.imagen_5">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          {{title.titulo_5}}
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Info</a>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<app-modal></app-modal>
<button id="boton-r" (click)="volver()">inicio</button>

