
#FlexP{
  display: inline-block;
  position: relative;
  flex-direction: column;
  top:3cm;
  left:0.4cm;
  width:20%;

}
img{
  padding: 3%;
}

.card-image {
  transition: transform .3s;
}
.card-image:hover{
  transform: scale(1.1);

}

@media(max-width: 951px){
  #FlexP{
   flex-wrap: wrap;
  }
}
