
#boton-r{
  position:relative;
  top:10cm;
}
#FlexP{
  display: flex;
  position: relative;
  top:3cm;
  left:2cm;
  width:90%;

}
img{
  padding: 3%;
}
#FlexP2{
  display: flex;
  position: relative;
  top:4cm;
  left:2cm;
  width:90%;

}

@media(max-width: 951px){
  #FlexP{
   flex-wrap: wrap;
  }
}
