

.panel{
  display:flex;

}
#texto{
  flex: auto;
  width: 300px;
  height: 300px;
  position: absolute;
  left:63%;
  top:35%;
  color: black;

}
.conImg{

}

#imagen{
flex:auto;
width: 300px;
height: 300px;
position: absolute;
left:18%;
top:30%;
border-radius: 50%;
margin: 0%;
}
#grid-1{
  display:flex;
  width:auto;
  position: relative;
  top:15cm;
 }
 #grid-1 img{
   flex:auto;
   width:30px;

 }

#titulo2{
  display:inline-block;
  position:relative;
  font-weight: bold;
  top: 550px;
  left: 38%;
  
}



@media (max-width: 685px) {
  #texto {
      position: absolute;
      top: 90%;
      left:20%;
    }
  }
  @media (max-width: 685px){
    #titulo2{
      position:absolute;
      top: 130%;
      left: 20%;
    }
  }
  @media(max-width: 685px){
    #grid-1{
    position:relative ;
    top:20cm;
    left:0cm;

  }}
  @media(max-width:685px){
    #grid-1{
      flex-direction:column;
      position:absolute;
      left: -1800px;

      width:2000px;
    }
  }



