

.panel{
  display:flex;

}
#texto{
  flex: auto;
  width: 300px;
  height: 300px;
  position: absolute;
  left:63%;
  top:35%;
  color: black;
}

#imagen{
flex:auto;
width: 300px;
height: 300px;
position: absolute;
left:18%;
top:30%;
border-radius: 50%;
margin: 0%;

}
#grid-1{
  display:flex;
  position: absolute;
  top: 18cm;
  left: -3cm;


}

#titulo2{
  display:flex;
  position:absolute;
  font-weight: bold;
  top: 100%;
  left: 38%;
}

#pngs{
flex:auto;
width: 60px;
position: relative;
align-items: center;
padding:0cm 2.8cm;
}

@media (max-width: 685px) {
  #texto {
      position: absolute;
      top: 90%;
      left:20%;
    }
  }
  @media (max-width: 685px){
    #titulo2{
      position:absolute;
      top: 130%;
      left: 20%;
    }
  }
  @media(max-width: 685px){
    #grid-1{
    position:relative ;
    top:20cm;
    left:0cm;

  }}
  @media(max-width:685px){
    #grid-1{
      flex-direction:column;
      position:absolute;
      left: -1800px;

      width:2000px;
    }
  }
  


