
<header>


</header>
<body>

  <div class="panel">

   <div href="https://www.linkedin.com/in/felipe-perez-oyola-863ba0222">
    <img id="imagen" src="assets/imagenes/prueba.jpg" ></div>
    <a id="texto">
    Perfil :
    <br>
    soy desarrollador de sofware y diseñador 3d, los cuales e decidido unir ya que son mis pasiones,
    como desarrollado cuento con conocimiento de framework para cada pundo del desarrollo y en el area
    de 3D cuento con conocimiento amplio en el desarrollo de diversas piesas para todo tipo de proyectos.
    </a>


</div>

 <div id="titulo2">
  Tengo conocimientos en las siguientes tegnologias
 </div>

 <div class="row " id="grid-1">
     <img class="col s1" src="assets/png/microsoft.png">
     <img class="col s1" src="assets/png/sql.png">
     <img class="col s1" src="assets/png/angular.png">
     <img class="col s1" src="assets/png/aws.png">
     <img class="col s1" src="assets/png/python.png">
 </div>
</body>

