  <!-- Modal Trigger  -->



  <!-- Modal Structure -->
  <div id="modal1" class="modal" >
    <div class="modal-content">

      <h4>{{tituloBaner.titulo_1}}</h4>
      <img [src]="imagenesBaner.imagen_1">
      <p></p>
    </div>

    <!--footer, en caso de desear activarlo
      <div class="modal-footer">

    </div>-->
  </div>
  <div id="modal2" class="modal" >
    <div class="modal-content">

      <h4>{{tituloBaner.titulo_2}}</h4>
      <img [src]="imagenesBaner.imagen_2">
      <p></p>
    </div>

  </div>
  <div id="modal3" class="modal" >
    <div class="modal-content">

      <h4>{{tituloBaner.titulo_3}}</h4>
      <img [src]="imagenesBaner.imagen_3">
      <p></p>
    </div>

  </div>
  <script>
  M.AutoInit();
  </script>
