
  <div id="modal1" class="modal" >
    <ng-container *ngFor="let item of Datos">
    <div class="modal-content">

      <h4 class="titulo" >{{item.title}}</h4>
      <img [src]="item.poster_path">
      <p class="descripcion">{{item.name}}</p>
    </div>
  </ng-container>
  </div>
    <!--footer, en caso de desear activarlo
      <div class="modal-footer">

    </div>-->
 <!--</div>
  <div id="modal2" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_2}}</h4>
      <img [src]="imagenesBaner.imagen_2">
      <p class="descripcion">{{description.description_2}}</p>
    </div>

  </div>
  <div id="modal3" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_3}}</h4>
      <img [src]="imagenesBaner.imagen_3">
      <p class="descripcion">{{description.description_3}}</p>
    </div>
   </div>

   <div id="modal4" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_4}}</h4>
      <img [src]="imagenesBaner.imagen_4">
      <p class="descripcion">{{description.description_4}}</p>
    </div>
  </div>


  <div id="modal5" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_5}}</h4>
      <img [src]="imagenesBaner.imagen_5">
      <p class="descripcion">{{description.description_5}}</p>
    </div>
  </div>


  <div id="modal6" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_6}}</h4>
      <img [src]="imagenesBaner.imagen_6">
      <p class="descripcion">{{description.description_6}}</p>
    </div>
  </div>


  <div id="modal7" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_7}}</h4>
      <img [src]="imagenesBaner.imagen_7">
      <p class="descripcion">{{description.description_7}}</p>
    </div>
   </div>
   <div id="modal8" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_8}}</h4>
      <img [src]="imagenesBaner.imagen_8">
      <p class="descripcion">{{description.description_8}}</p>
    </div>
  </div>-->
  <script>
  M.AutoInit();
  </script>

