
  <div id="modal1" class="modal" >
    <div class="modal-content">

      <h4 class="titulo">{{tituloBaner.titulo_1}}</h4>
      <img [src]="imagenesBaner.imagen_1">
      <p class="descripcion">{{description.description_1}}</p>
    </div>

    <!--footer, en caso de desear activarlo
      <div class="modal-footer">

    </div>-->
  </div>
  <div id="modal2" class="modal" >
    <div class="modal-content">

      <h4>{{tituloBaner.titulo_2}}</h4>
      <img [src]="imagenesBaner.imagen_2">
      <p></p>
    </div>

  </div>
  <div id="modal3" class="modal" >
    <div class="modal-content">

      <h4>{{tituloBaner.titulo_3}}</h4>
      <img [src]="imagenesBaner.imagen_3">
      <p></p>
    </div>
   </div>
   <div id="modal4" class="modal" >
    <div class="modal-content">

      <h4>{{tituloBaner.titulo_4}}</h4>
      <img [src]="imagenesBaner.imagen_4">
      <p></p>
    </div>
  <script>
  M.AutoInit();
  </script>
